
body{
    text-align: center;
    background-color: #0E0A0B;
}

#msg_display{
    top: 48%;
    left: 0;
    margin: auto;
    position: fixed; 
    right: 0; 
    color: #eee;
}

.crystal_background{
    height: 100%;
    object-fit: cover;
    opacity: .8;
    position: fixed;
    width: 100%;
    z-index: 2;
    max-width: 160vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#draw_cards_btn{
    display: grid;
    float: center;
    font-size: 3vw;
    height: 10%;
    justify-self: center;
    margin: 0 auto 6% auto;
    width: 10%;
    color: ;
}