
.section1{
    background-image: url("https://miro.medium.com/max/4514/1*eyuCr9KOhADGM7V4-4Mt8Q.jpeg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  height: 300px;
    
    min-height: 30vh; 
  text-align: center;
  
  
}
.floating_header_container h1{
    margin: 0;
}

.section2{
    background-color: var(--background-purple);
    display: inline-block;
    height: fit-content;
    width: 100%;
}

#card_holder{
    column-gap: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 64vw;
    margin: 0 auto;
    max-height: 80vh;
    max-width: 100vh;
    overflow: hidden;
    padding: 4% 0;
    row-gap: 6%;
    width: 80vw;
}

.card_inner{
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: auto;
}

.card_front, .card_back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100%;
    position: absolute;
}

/* ANCHOR Card front */
.card_front{
    background: white;
    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 2em auto 2em;
    padding: 3%;
    transform: rotateY(180deg);
    width: auto;
    box-sizing: border-box;
}
.deno_display{
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.deno_display:last-child{
    grid-column: 3;
    grid-row: 3;
}
.card_icon{
    grid-column: 2;
    grid-row: 2;
    height: 24%;
    margin: auto;
    position: relative;
    width: 35%;
}


.card_back{
    background-color: #000; /*Prevents glitch*/
    object-fit: cover;
    width: 100%;
}


#draw_cards_btn{
    display: grid;
    float: center;
    font-size: 3vw;
    height: 10%;
    justify-self: center;
    margin: 0 auto 6% auto;
    width: 40%;
}
h1{
   color: #fff;
   font-size: 50px;
   padding: 10%;
}

ul {
    
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    list-style-type: none;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color:;
  }
    