
.section1{
    
    min-height: 30vh;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg"); 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  text-align: center;
  

}

.section2{
    background-color: var(--background-purple);
    display: inline-block;
    height: fit-content;
    width: 100%;
}

#card_holder{
    column-gap: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 64vw;
    margin: 0 auto;
    max-height: 80vh;
    max-width: 100vh;
    overflow: hidden;
    padding: 4% 0;
    row-gap: 4%;
    width: 80vw;
}

.card{
    background: white;
    border-radius: 8%;
}

#draw_cards_btn{
    display: grid;
    float: center;
    font-size: 3vw;
    height: 10%;
    justify-self: center;
    margin: 0 auto 6% auto;
    width: 40%;
}
h1{
   padding: 10%;
   font-size: 50px;
   color: #fff;
   
}
